- title "News | #{@event.title}"

%section.item_list
  = link_to "New News Item", new_admin_event_event_news_item_path, :class=>'button add'
  %h3 
    Your Event News
  %ul
    - for story in @event_news_items
      %li[story]
        = link_to 'Edit', edit_admin_event_event_news_item_path(@event, story), :class=>'button manage'
        = story.headline
        %span.url
          = story.item_date.to_s(:form_display)
        = link_to 'Delete', admin_event_event_news_item_path(@event, story), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'