- title "Event News Item"

%p
  %strong Headline:
  = @event_news_item.headline
%p
  %strong Content:
  = @event_news_item.content
%p
  %strong Item Date:
  = @event_news_item.item_date
%p
  %strong Event:
  = @event_news_item.event_id
%p
  %strong Published:
  = @event_news_item.published