= form_for [current_user, @event], :html => { :multipart => true } do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :tagline
      = f.text_field :tagline
    %li.subdomain
      = f.label :subdomain
      = "http:// #{f.text_field :subdomain} .#{request.host}".html_safe
    %li.date
      = f.label :start_date
      = f.text_field :start_date, :class => "datepicker", :value =>@event.start_date ? @event.start_date.to_s(:form_display) : ''
    %li.date
      = f.label :end_date
      = f.text_field :end_date, :class => "datepicker", :value =>@event.end_date ? @event.end_date.to_s(:form_display) : ''
    %li
      = f.label :description
      = f.text_area :description
    = render 'layouts/assets_list'
  %ol
    %li.image_upload
      -if :event_logo
        = image_tag(@event.event_logo.url(:tiny))
      = f.label :event_logo, "Event Logo (Resized to fit in 210px x 90px)"
      = f.file_field :event_logo
    
    %li
      = f.label :google_analytics, "Google Analytics UA# <span>eg. UA-1234567-8</span>".html_safe
      = f.text_field :google_analytics
    %li
      = f.label :booking_url, "Booking service url <span>eg. an Eventbrite URL</span>".html_safe
      = f.text_field :booking_url
    %li
      = f.label :twitter_account, "Twitter account <span>eg. @awesomeevent</span>".html_safe
      = f.text_field :twitter_account
    %li
      = f.label :facebook_url, "Facebook page or group URL <span>eg. https://www.facebook.com/groups/113997628639322/</span>".html_safe
      = f.text_field :facebook_url
    %li.published
      This event is
      %em{:class => @event.published ? "visible" : "hidden"}
        = @event.published ? "Visible" : "Hidden"
      %span
        = f.check_box :published
        = f.label :published, "Show"
    %li
      %button.button.save{:type => 'submit'}
        Save