- title "Event"

%p
  %strong Title:
  = @event.title
%p
  %strong Start Date:
  = @event.start_date
%p
  %strong End Date:
  = @event.end_date
%p
  %strong Published:
  = @event.published
%p
  %strong Tagline:
  = @event.tagline
%p
  %strong Description:
  = @event.description
%p
  %strong Twitter Account:
  = @event.twitter_account
%p
  %strong Twitter Hashtag:
  = @event.twitter_hashtag
%p
  %strong Google Analytics:
  = @event.google_analytics
%p
  %strong Booking Url:
  = @event.booking_url