- title "Event"

-if :event_logo
  = image_tag(@event.event_logo.url(:tiny))

%p
  %strong Title:
  = @event.title
%p
  %strong Start Date:
  = @event.start_date
%p
  %strong End Date:
  = @event.end_date
%p
  %strong Published:
  = @event.published
%p
  %strong Tagline:
  = @event.tagline
%p
  %strong Description:
  = @event.description
%p
  %strong Twitter Account:
  = @event.twitter_account
%p
  %strong Twitter Hashtag:
  = @event.twitter_hashtag
%p
  %strong Google Analytics:
  = @event.google_analytics
%p
  %strong Booking Url:
  = @event.booking_url
  
-if @latest_news.any?
  %section.latest_news
    %h4.fontface_header
      = link_to "Latest News", event_news_items_path
    %ul
      - for story in @latest_news
        %li[story]
          %h4
            = link_to story.headline, story
            %span
              ="#{story.item_date.to_date.to_s(:dmy_long)}"
