<h2>Available liquid data</h2>
<ul>
  <li>title: {{ event.title }}</li>
  <li>tagline: {{ event.tagline }}</li>
  <li>start_date: {{ event.start_date }}</li>
  <li>end_date: {{ event.end_date }}</li>
  <li>description: {{ event.description }}</li>
  <li>twitter_account: {{ event.twitter_account }}</li>
  <li>twitter_hashtag: {{ event.twitter_hashtag }}</li>
  <li>booking_url: {{ event.booking_url }}</li>
  <li>event_logo: {{ event.event_logo }}</li>
  <li>facebook_url: {{ event.facebook_url }}</li>
</ul>
