<!-- title "Speakers | #{@event.title}" -->

<h1>Talks</h1>
<ul>
  {% for talk in talks %} 
  <li>
    <a href="{{ talk.url }}">{{ talk.display_title }}</a>
    {{ talk.description }}
    <ul>
      {% for speaker in talk.speakers %} 
      <li><a href="{{ speaker.url }}">{{ speaker.name }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>