!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield(:title) || t('title')
    %meta{:charset=>'utf-8'}
    %link{:rel=>'shortcut icon', :href => image_path("favicon.ico")}
    %link{:rel=>'icon', :type=>'image/png', :href => image_path("favicon.png")}
    = csrf_meta_tag()
    = javascript_include_tag "application"
    = stylesheet_link_tag 'application', :media => 'screen, projection'
  %body{:class => Rails.env}
    %section#eventstreams
      %header
        .inner
          %h3#site_logo
            -if signed_in?
              =link_to "Eventstreams", admin_events_path()
            -else
              =link_to "Eventstreams", root_path
          %nav#main
            %ul
              -if signed_in?
                %li=link_to "Your Events", admin_events_path()
                %li=link_to t('authentication.sign_out'), destroy_user_session_path, :method => :delete
              -else
                %li=link_to t('authentication.sign_in'), new_user_session_path
                /%li=link_to "Sign up", new_user_registration_url
      -if admin_menu_enabled?
        %nav#event_header
          .inner
            %ul
              %li.title= @event.title
              %li.site_link
                = link_to root_url(:subdomain => @event.subdomain), root_url(:subdomain => @event.subdomain)
                -unless @event.published
                  %span.published
                    This event is hidden

      = render :partial => 'layouts/flashes'
      %section.main
        .inner
          -if admin_menu_enabled?
            %nav#event_content
              %ul
                %li= link_to "Event Details", edit_admin_event_path(@event), :class=>'button'
                %li= link_to "Menu Order", admin_event_event_menus_path(@event), :class=>'button'
                %li= link_to "Pages &amp; Links".html_safe, admin_event_event_pages_path(@event), :class=>'button'
                %li= link_to "Locations", admin_event_venues_path(@event), :class=>'button'
                %li= link_to "Speakers", admin_event_speakers_path(@event), :class=>'button'
                %li= link_to "Talks", admin_event_talks_path(@event), :class=>'button'
                %li= link_to "Tracks", admin_event_tracks_path(@event), :class=>'button'
                %li= link_to "News", admin_event_event_news_items_path(@event), :class=>'button'
                %li= link_to "Sponsors", admin_event_sponsors_path(@event), :class=>'button'
                %li= link_to "Image Assets", admin_event_event_assets_path(@event), :class=>'button'
                / %li= link_to "Manage Tweets", user_event_tweets_path(current_user, @event), :class=>'button'
            %section.event_content
              = yield
          -else
            = yield