!!! 5
%html
  %head
    %title Eventstreams2
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1 Eventstreams
    %p.notice= notice
    %p.alert= alert
    = yield